.DS_Store
backup/*.sql
.idea
facility-assessment-host.iml
**/keystore.p12
downloads
temp
crons/log
metabase/keystore.jks
deployments/jss/*.log
db/backup/*.sql
start-*.sh
db/log/*.log
metabase/backup/*
**/metabase.jar
**/metabase/plugins/*.jar
metabase/nhsrc
app-servers/*.log
metabase/*.db
log
tmp
backup/metabase.db.mv.db_*
app-servers/*.bak
metabase/*.bak
db/*.sql