# Edit this according to the environment
# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
        . /etc/bashrc
fi

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions
. /home/app/facilities-assessment-host/scripts/utility/.bashrc_gunak_nhsrc
. /home/app/facilities-assessment-host/scripts/utility/.bashrc_gunak
. /home/app/samanvay-host/.bashrc_samanvay